:root {
  --backgraound: #feffbd;
  --light-background: #feffc4;
  --backscreen-warning: #ff4e2a;
  --dot-color: #ff4545;
}

#root {
  height: 100vh;
  width: 100%;
}

body {
  background-color: var(--backgraound);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
}

.center-container-1 {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.center-container-2 {
  display: table-cell;
  vertical-align: middle;
}
.centered-content {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  display: table;
  position: relative;
  text-align: center;
}

.large-font {
  color: orange;
  font-size: 30px;
}

/* .num {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  display: table;
  position: relative;
  text-align: center;
} */
